*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --color_pri : rgb(171, 166, 233);    
}

body{
    background-color: var(--color_pri);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.container input{
    background-color: var(--color_pri);
    border: none;
    box-shadow: none;
    outline: none;

    border-bottom: 2px solid #111;
    text-align: center;
    margin: 10px;

    font-size: 40px;
}

.container textarea{
    background-color: var(--color_pri);
    border: none;
    box-shadow: none;
    outline: none;
    text-align: center;
    margin: 10px;
    
    font-size: 40px;
}

#btnCalcular{
    font-size: 20px;
    background-color: rgb(176, 148, 184);
    cursor: pointer;
}

@media screen {
    
}