*{
    --color-scrollbar: #DDD;
    text-align: center;
}

#warning{
    font-size: x-large;
    color: red;
}

.esquema{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rango{
    margin-top: 15px;
}

.cuadro{
    background-color: aquamarine;
    width: 400px;
    height: 400px;
    margin: 20px;
    border-radius: 10% 10% 10% 100%; 
    border-width: 2px 10px 5px;
    border-style: solid dotted solid;
}

input {
    width: 250px;
}

.contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
